<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vereinsverwaltung</title>

        <!-- bootstrap css -->
        <link href="/verwaltung/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- custom css -->
        <link href="/verwaltung/css/verwaltung.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <br>
            <br>
            <br>
            %CONTENT%
        </div>

        <!-- jQuery -->
        <script src="/verwaltung/js/jquery-2.1.4.min.js"></script>
        <!-- bootstrap js -->
        <script src="/verwaltung/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>