<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vereinsverwaltung</title>

        <!-- bootstrap css -->
        <link href="/verwaltung/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- custom css -->
        <link href="/verwaltung/css/verwaltung.css" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">Brand</a>-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/verwaltung/src/app/home.php">Home</a></li>
                        <li><a href="/verwaltung/src/app/create.php">Benutzer anlegen</a></li>
                        <li><a href="/verwaltung/src/app/overview.php">Übersicht</a></li>
                        <li><a href="/verwaltung/src/app/account.php">Money Money</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menü <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/verwaltung/src/security/changepw.php">Passwort ändern</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/verwaltung/src/security/logout.php">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            <br>
            <br>
            %MESSAGE%
            <br>
            %CONTENT%
        </div>

        <!-- jQuery -->
        <script src="/verwaltung/js/jquery-2.1.4.min.js"></script>
        <!-- bootstrap js -->
        <script src="/verwaltung/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>